<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>All Products</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>Best Product</h1>
        <ul>
            <li th:text="${bestBoard.brand}"></li>
            <li th:text="${bestBoard.color}"></li>
            <li th:text="${bestBoard.length}"></li>
            <li th:text="${bestBoard.onSale}"></li>
            <li th:text="${bestBoard.price}"></li>
        </ul>

        <h1>All Products</h1>
        <p th:each="board : ${boards}"
           th:text="${board.brand}">Junk</p>
    </body>
</html>